<ion-view view-title="File Storage">
    <ion-content>
        <div class="row">
            <div class="col-50">
                <button class="button button-block" ng-click="go2Settings()">Recent Files</button>
            </div>
            <div class="col-50">
                <button class="button button-block" ng-click="go2FileStorage()">Dropbox</button>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <button class="button button-block" ng-click="go2Settings()">Device Storage</button>
            </div>
            <div class="col-50">
                <button class="button button-block" ng-click="go2FileStorage()">SD Card</button>
            </div>
        </div>
    </ion-content>
</ion-view>
