<ion-view view-title="Record">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <h1 style="text-align:center;">{{textContent}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-light icon-left" ng-class="{'ion-android-microphone': 1, 'button-assertive': recording}" ng-click="toggleRecord()" ng-show="cordova.loaded" style="height: 75px; border-color: rgb(255, 0, 0);">Record</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-positive icon-left ion-play" ng-click="playback()">Play</button>
      </div>
    </div> 
  </ion-content>
</ion-view>
