<ion-view view-title="Account">
    <ion-content id="account">  
            <div class='container-ninja'>
              <div class='antena'></div>
              <div class='body'>
                <div class='face'>
                  <div class='eye-container'>
                    <div class='eye'></div>
                    <div class='eye'></div>
                  </div>
                </div>
                <div class='chest'>
                  <div class='btn'></div>
                  <div class='btn'></div>
                  <div class='btn'></div>
                </div>
              </div>
            </div>
<div class="list">
  <div class="item item-divider">MY ACCOUNT</div>
      <a class="item">
        Email <br>
        <span class='item-note'>email@email.com</span>
    </a>
    <a class="item">
      Change Password
  </a>
  <div class="item item-divider">STORAGE</div>
    <a class="item">
        Device Storage
    </a>
    <a class="item">
        SD Card
    </a>
  <div class="item item-divider">INVITE FRIENDS</div>
    <a class="item item-icon-left">
      <i class="icon ion-social-facebook"></i>
        Invite Friends on Facebook
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-ios-email-outline"></i>
        Invite by Email
    </a>    
  <div class="item item-divider">SETTINGS</div>
    <a class="item ">
      Help
  </a>
    <a class="item ">
      Terms of Service
  </a>
  <a class="item item-icon-right">
    <i class="icon ion-power"></i>
    Sign Out
  </a>
  <li></li>


</div>
    </ion-content>
</ion-view>
