<ion-view view-title="Account">
    <ion-content id="account">
        <!--<div class="row">
                <button class="button button-block" ng-click="go2Settings()">Settings</button>
        </div>-->     
        <div class="row">
            <button class="button button-block" ng-click="go2FileStorage()">File Storage</button>
        </div>
        <div class="row">
            <button class="button button-block" ng-click="go2manageAccounts()">Manage Accounts</button>
        </div>
        <div class="row">
            <button class="button button-block" ng-click="go2Security()">Security</button>
        </div>
        <div class="row">
            <button class="button button-block" ng-click='signout()'>Signout</button>
        </div>
    </ion-content>
</ion-view>
