<ion-view view-title="Classes">
    <ion-content>
        <!-- 
    <span>{{finalSpan}}</span>
    <span style="color:grey">{{interimSpan}}</span>
    <button ng-click="toggleStartStop()" ng-show="loaded">{{buttonHTML}}</button>
   -->
        <!-- 
        <ion-list ng-controller="MyCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in items" class="item-thumbnail-left">
                <img ng-src="{{item.img}}">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    -->
       <br>
       <div class="class-wrap">
           
       </div>
        <div ng-repeat-start='rows in [1,2,3,4,5]' class="row" style="padding: 0;">
            <div class='col-90 text-center box-class' ng-repeat="item in classes" ng-click='go2Details($index)'>
                <div class="row class-name">
                    {{item.coursecode}}   
                </div>
                <div class="row class-code">
                    {{item.class}} 
                </div>
                
            </div>
        </div>
        <div ng-repeat-end></div>
    </ion-content>
</ion-view>
