<ion-view view-title="Classes" id='classes'>
    <ion-content>
        <p>{{message}}</p>
        <div class="add-class-container">
            <button class="add-class" ng-click='createClassModal.show()'><i class='ion-plus'></i></button>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in $storage" ng-click='go2Details($index) '>
                <h2>{{item.class}}</h2>
                <ion-option-button class="button-positive" ng-click="$storage.splice($index, 1)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
       <br>
       <div class="class-wrap">
           
       </div>
        <div ng-repeat-start='rows in [1,2,3,4,5]' class="row" style="padding: 0;">
            <div class='col-90 text-center box-class' ng-repeat="item in classes" ng-click='go2Details($index)'>
                <div class="row class-name">
                    {{item.coursecode}}   
                </div>
                <div class="row class-code">
                    {{item.class}} 
                </div>
                
            </div>
        </div>
        <div ng-repeat-end></div>

    </ion-content>
</ion-view>
