<ion-view view-title="Record" id="record">
    <ion-content class="padding" scroll='false'>
        <label class="item item-input item-select">
            <div class="input-label">
                Class
            </div>
            <select ng-model='classOption'>
                <option ng-repeat='item in $storage'>{{item.class}}</option>
            </select>
        </label>
        <div class="row">
            <div class="col">
                <center>
                    <div class="bubble-outer">
                        <button class="button button-block button-light icon-left record-bubble" ng-class="{'button-assertive': status === 'RECORDING'}" ng-click="toggleRecord();" style="border-color: rgb(255, 0, 0);">
                            <div class="ion-android-microphone" style="text-align:center;"></div>
                            <h1 style="text-align:center;   font-size: 15vhvw;" class="record-time">{{ textContent }}</h1>
                        </button>
                    </div>
                </center>
                <div class="card">

  <div id="results">
    <div class="item item-text-wrap" style="color: black; padding-right: 3px;">
      <p style="color: black; padding-right: 3px;" >{{final_transcript}} </p>
      <p style="color: grey" >{{interim_transcript}} </p>
    </div>
  </div>
</div>
            </div>
        </div>

        <div class='container-ninja-rec'>
            <div class='btn' ng-click="save(classOption)" ng-disabled="recordFileNames == 0 || status === 'deleting'" ng-class="{'button-balanced': status == 'saving'}"><i class='ion-checkmark-round'></i></div>
            <div class='ninja-slider'>
                <div class='antena'></div>
                <div class='head'>
                    <div class='face'>
                        <div class='container-eyes'>
                            <div class='eye'></div>
                            <div class='eye'></div>
                        </div>
                    </div>]
                </div>
            </div>
            <div class='btn' ng-click="clear()" ng-disabled="recordFileNames == 0 || status === 'saving'" ng-class="{'button-assertive': status == 'deleting'}"><i class='ion-close-round'></i></div>
        </div>
        <div class="col text-center">
            <button class="button button-clear button-positive icon-left ion-play btn-play" ng-disabled="recordFileNames == 0 || status === 'RECORDING'" ng-class="{'button-positive': status == 'playing'}" style="" ng-click="playback()">Play</button>
        </div>
        <!--             <div class="row row-bottom record-file">
                <div class="col">
                    <button class="button button-block button-light " ng-click="save()" ng-disabled="recordFileNames == 0 || status === 'deleting'" ng-class="{'button-balanced': status == 'saving'}">Save</button>
                </div>

                <div class="col">
                    <button class="button button-block button-light" ng-click="clear()" ng-disabled="recordFileNames == 0 || status === 'saving'" ng-class="{'button-assertive': status == 'deleting'}">Delete</button>
                </div>
            </div> -->
    </ion-content>
</ion-view>
