<ion-view view-title="Classes" id='classes'>
    <ion-content>
        <p>{{message}}</p>
        <button ng-click='facebookPost()'>post to facebook</button>
        <ion-list>
            <ion-item ng-repeat="item in $storage" ng-click='go2Details($index) '>
                <h2 ng-style='{color:item.color}'>{{item.class}}</h2>
                <ion-option-button class="button-positive" ng-click="$storage.splice($index, 1)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <br>
        <div class="class-wrap">
        </div>
    </ion-content>
    <div class="add-class-container">
        <button class="add-class" ng-click='createClassModal.show()'><i class='ion-plus'></i></button>
    </div>
</ion-view>
