<ion-view view-title="Account">
    <ion-content id="account">
        <!--<div class="row">
                <button class="button button-block" ng-click="go2Settings()">Settings</button>
        </div>-->     
            <div class='container-ninja'>
              <div class='antena'></div>
              <div class='body'>
                <div class='face'>
                  <div class='eye-container'>
                    <div class='eye'></div>
                    <div class='eye'></div>
                  </div>
                </div>
                <div class='chest'>
                  <div class='btn'></div>
                  <div class='btn'></div>
                  <div class='btn'></div>
                </div>
              </div>
            </div>
            <div class='container-btn'>
              <div class="row">
                <div class='wrap'>
                  <div class='row'>
                    <button class="button button-block" ng-click="go2FileStorage()"><i class='ion-android-cloud-outline'></i></button>
                  </div>
                  <div class='row'><span>STORAGE</span></div>
                </div>
                <div class='wrap'>
                  <div class='row'>
                    <button class="button button-block" ng-click="go2manageAccounts()"><i class='ion-android-settings'></i> </button>
                  </div>
                  <div class='row'><span>SETTINGS</span></div>
                </div>
                <div class='wrap'>
                  <div class='row'>
                    <button class='button button-block'><i class='ion-android-person-add' ></i></button>
                  </div>
                  <div class='row'><span>INVITE FRIENDS</span></div>
                </div>
                <div class='wrap'>
                  <div class='row'>
                    <button class="button button-block" ng-click='signout()'><i class='ion-power'></i></button>
                  </div>
                  <div class='row'><span>SIGN OUT</span></div>
                </div>
              </div>

<!--               <div class="row">
                <div class='wrap'>
                  <div class='row'>
                    <button class='button button-block'><i class='ion-android-person-add' ></i></button>
                  </div>
                  <div class='row'><span>INVITE FRIENDS</span></div>
                </div>
                <div class='wrap'>
                  <div class='row'>
                    <button class="button button-block" ng-click='signout()'><i class='ion-power'></i></button>
                  </div>
                  <div class='row'><span>SIGN OUT</span></div>
                </div>
              </div>  -->            
            </div>
    </ion-content>
</ion-view>
