<ion-view view-title="Account">
    <ion-content>
        <div class="row">
            <div class="col-50">
                <button class="button button-block" ng-click="go2Settings()">Settings</button>
            </div>
            <div class="col-50">
                <button class="button button-block" ng-click="go2FileStorage()">File Storage</button>
            </div>
        </div>
        <div class="row">
            <button class="button button-block" ng-click='signout()'>Signout</button>
        </div>
    </ion-content>
</ion-view>
