<ion-view view-title="Welcome">
    <ion-content class="padding">
        <div class="row">
            <div class="col-33">
                <button class="button button-block" ng-click="go2(0)">Record</button>
            </div>
            <div class="col-33">
                <button class="button button-block" ng-click="go2(1)">Audio</button>
            </div>
            <div class="col-33">
                <button class="button button-block" ng-click="go2(4)">Accounts</button>
            </div>
        </div>
        <!-- 
        <div class="row">
            <div class="col-33">
                <button class="button button-block" ng-click="go2(2)">Notes</button>
            </div>
            <div class="col-33">
                <button class="button button-block" ng-click="go2(3)">Themes</button>
            </div>
            <div class="col-33">
                <button class="button button-block" ng-click="go2(5)">Settings</button>
            </div>
        </div>
         -->
    </ion-content>
</ion-view>
