<ion-view view-title="Welcome">
    <ion-content class="padding">
        {{message}}
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="newUser.email" type="email" placeholder="email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="newUser.password" type="password" placeholder="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="newUser.password1" type="password" placeholder="password again">
            </label>
            <button class="button button-full button-positive" ng-click="createUser(newUser)">Signup</button>
            <button class="button button-full button-positive" ng-click="signinEmail(newUser)">Signin</button>
        </div>
    </ion-content>
</ion-view>
